input {
  width: calc(100% - 34px);
  height: 25px;
  padding: 0 0 0 8px;
  margin: 0 8px 8px 0;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #999;
  box-sizing: border-box;
}

input:focus {
  outline: none !important;
  border:1px solid #c0e585;
  box-shadow: 0 0 10px #c0e585;
}

@media (min-width: 768px) {
  input {
    width: calc(75% - 34px);
  }
}

@media (min-width: 1000px) {
  input {
    width: calc(45% - 34px);
  }
}