input {
  /*width: 12px;*/
  /* height: 12px;*/
  padding: 0 0 0 8px;
  /*margin: 0 8px 8px 0; */
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #999;
  box-sizing: border-box;
}

input:focus {
  outline: none !important;
  border:1px solid #c0e585;
  box-shadow: 0 0 10px #c0e585;
}

:root input[type=checkbox] {
  /* original check box are push outside the viewport */
  position: absolute;
  left: -1000em;
}

:root input[type=checkbox] + label:before {
  content: "\f0c8"; 
  font-family: FontAwesome;
  font-style: normal;
  text-decoration: inherit;
  font-size: 1.8em;
  color: #8b8072; /*#6e614f;*/
  /*display: inline-block;*/
  width  : 23px;
  height : 23px;
  margin : 0 .5em 0 0;
  /*border: 1px solid red;*/
  /* The following is used to adjust the position of 
   the check boxes on the text baseline */

  vertical-align: bottom;
  position: relative;
  bottom: 2px;
}

:root input[type=checkbox]:checked + label:before {
  content: "\f14a";
  font-size: 1.7em;
  color: #8b8072; /*#6e614f;*/
  /*background-position: 0 -16px;*/
}

.checkbox-label {
/*  width: 18px;
  height: 18px;*/
}

/*
:root input[type=checkbox]:disabled + label:before {
  background-position: 0 -32px;
}

:root input[type=checkbox]:checked:disabled + label:before {
  background-position: 0 -48px;
}
*/

/*
@media (min-width: 768px) {
  input {
  }
}

@media (min-width: 1000px) {
  input {
  }
}
*/