.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main {
  clear: both;
  text-align: left;
  margin: 15px 15px;
}

.list-no-style {
  list-style: none;
  padding-left: 8px;
}

/* list items */
.list-item-icon:nth-of-type(2n + 1) {
  margin: 0 6px;
}

.list-item-icon-lg {
  font-size: 1.5em;
  margin-left: 10px;
}

.row {
  display: flex;
  flex-flow: row no-wrap;
}

@media (min-width: 768px) {
  .main {
    margin: 15px 35px;
  }

}